.mipacientedetalle > .producto__detalle__article {
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}
.mipacientedetalle > .producto__detalle__article > * {
  flex: 1 1 100%;
}
.mipacientedetalle p {
  margin-bottom: 1.2rem;
}

.tratamientos h2 {
  padding-bottom: 1.2rem;
}

.tratamientos > .button__tratamiento {
  margin: 0 0 2rem;
}
.informacion__paciente {
  max-width: 100%;
}
@media (min-width: 700px) {
  .mipacientedetalle > .producto__detalle__article {
    min-height: 80vh;
    justify-content: center;
    column-gap: 3rem;
    align-items: start;
    flex-flow: row wrap;
  }
  .mipacientedetalle > .producto__detalle__article > * {
    flex: 1 1 40%;
  }
  .mipacientedetalle h1 {
    margin: 0;
    padding: 0 0 1rem;
  }

  .mascota__article__paciente > .mascota__detalle__imagen img {
    border-radius: 2rem;
    border: 1px solid #5f362c;
  }
  .mascota__article__paciente > .mascota__informacion p {
    border-radius: 2rem;
    border-bottom: 1px solid #5f362c;
  }
}
