.producto__detalle__article {
  display: flex;
  flex-flow: row wrap-reverse;
  align-items: center;
}
.producto__detalle__article > * {
  flex: 1 0 30%;
}

.producto__detalle__article > .mascota__informacion {
  flex: 1 0 25%;
}
