/* Clases para el artículo */
.mascota__detalle {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
}

.buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
/* Clases para la sección de presentación de la mascota */
.mascota__presentacion button {
  margin-top: 2rem;
}
.mascota__detalle__imagen {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Clases para la sección de información de la mascota */
.mascota__informacion {
  margin-bottom: 1rem;
  padding: 1rem 0;
}
.mascota__informacion h2 {
  font-family: "Dancing Script", cursive;
}
.mascota__informacion p {
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  border-bottom: #00000044 solid 1px;
}
.dialog__remove {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Fondo oscuro semi-transparente */
  display: flex;
  justify-content: center;
  align-items: center;
}
.dialog__remove__mascota {
  background-color: #ffffff; /* Color de fondo */
  border: 1px solid #cccccc; /* Borde */
  padding: 20px; /* Espaciado interno */
  border-radius: 5px; /* Bordes redondeados */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra */
  max-width: 300px; /* Ancho máximo del diálogo */
  text-align: center; /* Alineación del texto */
  position: absolute;
  top: 1vh;
}

.dialog__remove__mascota p {
  margin-bottom: 20px; /* Espaciado inferior para el texto */
}

.dialog__remove__mascota button {
  margin: 0 10px; /* Espaciado entre botones */
}

.dialog__remove__mascota button:hover {
  filter: brightness(0.9); /* Efecto de atenuación al pasar el mouse */
}

.dialog__remove__mascota button:active {
  transform: translateY(1px); /* Efecto de presión al hacer clic */
}
@media (min-width: 700px) {
  .mascota__detalle {
    min-height: 80vh;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
  }
  .mascota__detalle > * {
    flex: 1 0 32%;
  }
  .mascota__informacion {
    text-align: start;
  }
  .mascota__informacion h2 {
    padding: 0 1rem;
  }
  .mascota__informacion p {
    border-radius: 0.5rem;
    text-align: end;
    padding-right: 1rem;
    border-bottom-left-radius: red solid 1px;
  }
}
