* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: black;
  font-family: "Nunito", sans-serif;
}
body {
  background-color: #f5f5f5;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 8px; /* Ancho de la barra */
  height: 8px; /* Alto de la barra */
}

::-webkit-scrollbar-track {
  background-color: #f5f5f5; /* Color del carril */
}

::-webkit-scrollbar-thumb {
  background-color: #333; /* Color del botón */
}

::-webkit-scrollbar-button {
  background-color: #ccc; /* Color de los botones de flecha */
}

::-webkit-scrollbar-corner {
  background-color: #ddd; /* Color de la esquina */
}
